<h1><i class="fas fa-book-reader"> ViewFlix And Spill</i></h1>

<p class="lead">Hello {{name}}!!! Tell us what you watched here!</p>

<head>
    <body>
        <div class="search-input-wrapper">
          <div class="search-input" id="searchWrapper">
              <input type="test" name="searchBar" id="searchBar" placeholder="Search">
               {{!-- <button onclick="loadTitles()">Search</button> --}}
          </div>    
        </div>
        <div class="search-icon">
           <ul id="searchList"></ul>
        </div>
        <script>
const searchList = document.getElementById('searchList');
const searchBar = document.getElementById('searchBar');
let showList = [];

searchBar.addEventListener('keyup', (e) => {
    const searchString = e.target.value.toLowerCase();

    const filteredShows = showList.filter((show) => {
        return (
            show.Title.toLowerCase().includes(searchString)
        );
    });
    displayShows(filteredShows);
});

const loadTitles = async () => {
    try {
        const res = await fetch("https://movie-database-imdb-alternative.p.rapidapi.com/?s=Avengers%20Endgame&r=json&page=1", {
	"method": "GET",
	"headers": {
		"x-rapidapi-host": "movie-database-imdb-alternative.p.rapidapi.com",
		"x-rapidapi-key": "2372112167mshc03152c3eb84f26p154bd2jsn44b5366d64a6"
	}
});
        showList = await res.json();
        console.log(showList)
        displayShows(showList);
    } catch(err) {
        console.error(err);
    };
};

const displayShows = (shows) => {
    console.log(shows)
    const htmlString = shows
        .map((show => {
            return `
            <li class="character">
                <h2>${show.Title}</h2>
            </li>
        `;
        })
        .join(''))
        searchList.innerHTML = htmlString;
};

loadTitles();

</script>
    </body>
</head>

<h3>Add Review</h3>
<div class="'row">
    <form action="/reviews" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title of movie or tv show</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Review</h5>
                <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/reviews" class="btn organe">Cancel</a>
        </div>
    </form>
</div>
<br>
<br>
<br>

<a href="/dashboard" class="btn btn-secondary">Go back</a>

<br>
<br>
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>