<h1><i class="fas fa-book-reader"> ViewFlix And Spill</i></h1>

<p class="lead">Hello {{name}}!!! What have you watched recently?</p>

<a href="/addcontent" class="btn btn-secondary">Add a tv show or movie </a>
<br>
<br>

<h3>Here are your reviews!</h3>
{{#if reviews}}
    <div class="striped">
        <tbody>
            {{#each reviews}}
                <div>
                    <div><strong>{{title}}</strong></div>
                    <div>{{body}}</div> <br> <br>
                </div>
            {{/each}}
        </tbody>
    </div>
{{/if}}
<br>
<br>
<p>Check out what your friends have been watching!</p>
<a href="/reviews" class="btn btn-secondary">All Reviews</a>

<br>
<br>
<br>

<a href="/users/logout" class="btn btn-secondary">Logout</a>