<h3><i class="fas fa-book-reader"> ViewFlix And Spill</i></h3>
<div class="section">
    <p class="lead">Review tv shows and movies and share with your friends!</p>
</div>

<a href="/users.logout" class="btn btn-secondary">Logout</a>