<h1><i class="fas fa-book-reader"> ViewFlix And Spill</i></h1>

<p class="lead">Hello {{name}}!!! What have you watched recently?</p>

<a href="/addcontent" class="btn btn-secondary">Add a tv show or movie </a>
<br>
<br>

<h3>Here are the reviews!</h3>
{{#if reviews}}
    <table class="striped">
        <tbody>
            {{#each reviews}}
                <tr>
                    <tr><strong>{{title}}</strong></tr> <br>
                    <tr>{{body}}</tr>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}
<br>
<br>
<br>

<a href="/users/logout" class="btn btn-secondary">Logout</a>