<h1><i class="fas fa-book-reader"> ViewFlix And Spill</i></h1>

<p class="lead">See what your friends think!</p>




{{#if reviews}}
    <table class="striped">
        <tbody>
            {{#each reviews}}
                <div>
                    <div>{{user.name}}</div>
                    <div><strong>{{title}}</strong></div>
                    <div>{{body}}</div> <br> <br>
                </div>
            {{/each}}
        </tbody>
    </table>
{{/if}}
<br>
<br>
<p>Add more reviews!</p>
<a href="/dashboard" class="btn btn-secondary">Go back</a>

<br>
<br>
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>