<p>Here are your shows</p>
{{!-- {{#if reviews}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
                <tr>
                    <td><a href="/reviews/{{_id}}"></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}
<br>
<br>
<br> --}}